html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
	padding: 0;
}

body {
    background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
	font-family: 'Karla',sans-serif;
	margin-top: 25px;
}

.main{
	height: 800px !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}

.container.hidden {
	visibility: hidden;
	display: none !important;
}

.container h1 {
	font-family: 'Poiret One', sans-serif !important;
    font-weight: bold;
	font-size: 35px;
	margin-bottom: 25px;
}

/*
 * Styles for the Score Panel
*/
 .score-panel {
	display: flex;
    text-align: left;
    width: 520px;
    margin-bottom: 10px;
    justify-content: space-around;

}

.score-panel .stars {
    padding: 0;
    margin: 0 5px 0 0;
	color: #ffd700;
	font-size: 17px !important;    
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    cursor: pointer;
}

/*
 * Styles for the deck of cards
*/
.deck {
    width: 600px;
    min-height: 600px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 115px;
    width: 115px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.show {
    font-size: 30px;
}

.deck .card.open {
    transform: rotteY(0);
    background: #02b3e4;
    cursor: default;
    animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 30px;
    animation-name: match;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: 1s;
}

.deck .card.unmatch {
    cursor: default;
    background: #e2043b ;
    font-size: 30px;
    animation-name: wrong;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: 1s;
}

.deck .card.disabled {
	pointer-events: none;
}

.deck .card.flipWrong {
    animation-name: flipWrong;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .5s;
}

/*
* Styles for Winner Message
*/
.winner.show {
	visibility: visible !important;
}

.winner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff !important;
	height: 100vh;
	visibility: hidden;
	overflow: hidden;
}

.winner .static-mes {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	list-style: none;
	font-size: 24px;
	line-height: 30px;
	color: #636e72;
	margin-top:0;
}

.winner .btn-sucess {
	font-family: 'Karla', sans-serif !important;
	background: #1e272e;
	color: #fff;
	font-size: 20px;
	display: flex;
	border-color: transparent;
	justify-content: center;
	align-content: center;
	width: 180px;
	height: 47px;
	border-radius: 7px; 
	cursor: pointer;
}

.winner #finalRating {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	padding: 0;
	font-size: 17px;
}

.winner .rating{
	display: flex;
}

.winner #finalRating.hidden{
	display: none;
}

.winner #finalRating li {
	margin: 3px;
}

.winner h1 {
	font-family: 'Poiret One', sans-serif !important;
	font-weight: bold;
	font-size: 50px;
	margin-bottom: 20px;
}


/*----------------animations------------------- */
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0. 3;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes flipWrong {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0. 3;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
    }

    70% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes match {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.2, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.2, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes wrong {
	from {
		transform:  translateX(-5px) rotateZ(-4deg);
	}

	20% {
		transform:  translateX(10px) rotateZ(3deg);
	}

	30% {
		transform:  translateX(-15px) rotateZ(-4deg);
	
    }
	45% {
		transform:  translateX(10px) rotateZ(3deg);
    }

    60% {
		transform:  translateX(-15px) rotateZ(-4deg);
    }

    80% {
		transform:  translateX(10px) rotateZ(3deg);
    }
 
	to {
		transform:  translateX(0) rotateZ(0);
	}
}

/*----------------Media Queries------------------- */

/*----------------For Tabtle screen------------------- */

